.logo{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.site-layout .site-layout-background {
    background: #fff;
}
:global{
    .flex{
        display: flex;
    }
    .allFlex{
        @extend .flex;
        width:300px;
    }
}